.accordion {
  width: 100%;
  background-color: red;
  .accordionItem {
    margin-bottom: 0.5rem;
    border: 1px solid gray;
    border-radius: 12px;
    overflow: hidden;
  }

  .accordionTitle {
    padding: 1rem;
    background-color: whitesmoke;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

    &.active {
      border-bottom: 1px solid black;
    }

    .accordionIcon {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .accordionContent {
    padding: 1rem;
    line-height: 1.5;
  }
}
